In [1]:
from sklearn import tree
import pandas as pd
import os
import numpy as np

In [2]:
#import our train and test csv
train_path = os.path.join("Data/train.csv")
train_df = pd.read_csv(train_path)

test_path = os.path.join("Data/test.csv")
test_df = pd.read_csv(test_path)

In [3]:
train_df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [4]:
test_df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [5]:
test_df = test_df.dropna()

In [6]:
test_df.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [7]:
train_df = train_df.dropna()

In [8]:
train_df.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [9]:
#convert the satisfaction column to 1's and 0's
train_df["satisfaction"].replace({"satisfied":1, "neutral or dissatisfied":0}, inplace=True)

In [10]:
#assign the X_train data
train_df = train_df.drop(columns=["Unnamed: 0", 'id'])

#assign the y_train data
y_train = np.array(train_df["satisfaction"]).reshape(-1,1)

In [11]:
X_train = pd.get_dummies(train_df)

In [12]:
X_train = X_train.drop(columns=["satisfaction"])

In [13]:
X_train

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Arrival Delay in Minutes,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,13,460,3,4,3,1,5,3,5,5,...,18.0,0,1,1,0,0,1,0,0,1
1,25,235,3,2,3,3,1,3,1,1,...,6.0,0,1,0,1,1,0,1,0,0
2,26,1142,2,2,2,2,5,5,5,5,...,0.0,1,0,1,0,1,0,1,0,0
3,25,562,2,5,5,5,2,2,2,2,...,9.0,1,0,1,0,1,0,1,0,0
4,61,214,3,3,3,3,4,5,5,3,...,0.0,0,1,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103589,23,192,2,1,2,3,2,2,2,2,...,0.0,1,0,0,1,1,0,0,1,0
103590,49,2347,4,4,4,4,2,4,5,5,...,0.0,0,1,1,0,1,0,1,0,0
103591,30,1995,1,1,1,3,4,1,5,4,...,14.0,0,1,0,1,1,0,1,0,0
103592,22,1000,1,1,1,5,1,1,1,1,...,0.0,1,0,0,1,1,0,0,1,0
103593,27,1723,1,3,3,3,1,1,1,1,...,0.0,0,1,1,0,1,0,1,0,0

In [14]:
y_train

array([[0],
       [0],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [15]:
#convert the satisfaction column to 1's and 0's
test_df["satisfaction"].replace({"satisfied":1, "neutral or dissatisfied":0}, inplace=True)

In [16]:
test_df = test_df.drop(columns=["Unnamed: 0", 'id'])

y_test = np.array(test_df["satisfaction"]).reshape(-1,1)

In [17]:
X_test = pd.get_dummies(test_df)

In [18]:
X_test = X_test.drop(columns=["satisfaction"])

In [19]:
#scale the x data
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)

In [21]:
clf.score(X_test_scaled, y_test)

0.9461630556521068

In [22]:
#establish the feature names for random forest importance metrics
feature_names = X_test.columns

In [23]:
#create model using random forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train)

<ipython-input-23-e35c2996e860>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = rf.fit(X_train_scaled, y_train)

In [24]:
rf.score(X_test_scaled, y_test)

0.9635036496350365

In [27]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.17860462826911075, 'Online boarding'),
 (0.1360638869380889, 'Inflight wifi service'),
 (0.06154216668927859, 'Class_Business'),
 (0.05863177644882434, 'Type of Travel_Business travel'),
 (0.05800984861891648, 'Type of Travel_Personal Travel'),
 (0.05103761868221748, 'Inflight entertainment'),
 (0.04391997751105177, 'Class_Eco'),
 (0.04233064310914619, 'Seat comfort'),
 (0.03605321977926292, 'Ease of Online booking'),
 (0.0343333183749912, 'Leg room service'),
 (0.02929124763862385, 'Age'),
 (0.02922096910332783, 'Flight Distance'),
 (0.02841438830060799, 'On-board service'),
 (0.02566083039123387, 'Baggage handling'),
 (0.025164644382669837, 'Customer Type_disloyal Customer'),
 (0.024991696115885843, 'Customer Type_Loyal Customer'),
 (0.024332237747512576, 'Checkin service'),
 (0.023220700119761628, 'Cleanliness'),
 (0.02169636971390143, 'Inflight service'),
 (0.013790573976550875, 'Gate location'),
 (0.013287478387260222, 'Departure/Arrival time convenient'),
 (0.011727043070247191, 'Arrival Delay in Minutes'),
 (0.010334997751771798, 'Departure Delay in Minutes'),
 (0.010048021668408966, 'Food and drink'),
 (0.0029270721706132707, 'Gender_Female'),
 (0.0028980848613462725, 'Gender_Male'),
 (0.002466560179387925, 'Class_Eco Plus')]